extends layout

block content
  h1 Admin verktyg
  p Logga in för att komma vidare
  form(action='/admin', method='post', name='form1')
        | Användarnamn: 
        input(class="form-control", style="width: 300px", type='text', name='user')
        br
        | Lösenord: 
        input(class="form-control", style="width: 300px", type='password', name='pass')
        br
        input(class="btn btn-primary", type='submit', value='Logg in')
        br
        br
        a(href='/') Gå till Startsida